<nav>
  <a href="">
  <img id="logo" src="/assets/img/vectors.png" alt="">
  
  <img id="logo" src="/assets/img/logo.png" alt="">
</a>
  <ul>
    <li class="nav-item"><a class="nav-tel" href="tel:8-800-700-60-50">8-800-700-60-50</a><a class="nav-link"
        href=""> <div id="border"></div> Be-C: 9.00:21.00</a>

    </li>
    <li class="nav-item">Быстрая связь с нами
      в мессенджерах:
      <a class="nav-link" target="_blank" href="https://web.telegram.org/k/"><i class="fa-brands fa-telegram"></i></a>
      <a class="nav-link" href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </li>


    <button class="btn-navbar">Заказать консультацию</button>
  </ul>
</nav>
