.row
{
  padding:100px 0 ;
  text-align: center;
  margin:80px 0;
  height: 100vh;

  h1{
   margin: 10px 0 ;
    font-size: 1.875em;
    font-style: normal;
    font-weight: 600;
    color: #4B5258;
    ;
  }
  p{
    margin: 20px 0 ;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    color:#959A9D;
    ;
  }

  .card
  {
    img{
      padding: 30px;
      width: 1100px;
      height: 60vh;
      border: 1px solid #fff;
      border-radius: 70px;
      object-fit: cover;
    }
  }

}
