<div class="card">
  <h1>Калькулятор стоимости уборки с точностью до 98%</h1>
  <p>Это бесплатно и ни к чему не обязывает!</p>
  <div class="card-body">
    <div class="card-left">
      <div class="cart-left-text">
        <h2>Отлично! Ваши ответы получены,
          менеджер уже приступает к расчёту</h2>
        <p>Где вам удобнее получить расчёт?</p>
      </div>
      <div class="cart-left-button">

        <div class="btn-cart">
          <a target="_blank" href="https://web.telegram.org/k/" class="btn-left"><i class="fa-brands fa-telegram"></i></a>
          <a  href="https://web.whatsapp.com/" target="_blank" class="btn-left"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="btn-carts">
          <input type="tel" placeholder="Введите ваш телефон"  >
          <button  class="btn-lefts">Получить расчёт и бонусы</button>
        </div>

      </div>
    </div>
    <div class="card-right">
      <img id="kitab" src="/assets/img/kitab.png" alt="">
      <img id="kupon" src="/assets/img/kupon.png" alt="">
      <div class="cards-right">
        <h2>Ваши бонусы:</h2>
        <ul>
          <li>Скидка 10% на первый заказ</li>
          <li>Книга «Магическая уборка»</li>
         <a href=""> (в бумажном переплёте)</a>

        </ul>
      </div>
    </div>
  </div>

</div>
